# Sample ansible.cfg for reference (RHCE-LAB).
# Task 1 asks you to create your own at /home/x69van/ansible/ansible.cfg.
[defaults]
inventory = ./inventory
roles_path = ./roles
collections_path = ./mycollection
remote_user = x69van
host_key_checking = False
private_key_file = ~/.ssh/RH294-LAB

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
